* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #199eec;
    color: white;
    height: 60px;
    font-size: larger;
    padding: 20px;
}

header {
    background: rgb(235, 167, 235);
    height: 30px;
}

h1 {
    text-align: center;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: aqua;
}

.logo {
    width: 50px;
    height: 50px;
}

.note-book {
    width: 100%;
    height: 50%;
}

section {
    display: flex; 
    flex-wrap: wrap;   
}

article {
    flex: 1 200px;
}

article:nth-of-type(3){
    flex: 3 200px;
    display: flex;
    flex-flow: column;
}

article:nth-of-type(3) div:first-child{
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
}

.form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
